/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */


@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Variable.woff2") format("truetype");
  font-weight: 100 900; /* Вариативный диапазон от 100 до 900 */
  font-style: normal;
}

@font-face {
  font-family: "PressStart2P";
  src: url("../fonts/PressStart2P-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}