/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes heartScaleUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

@keyframes sparkAppears {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.button-heart {
  width: 38px;
  height: 38px;
  border: 0;
  padding: 0;
  background-color: transparent;
  transition: border 0.3s ease;
  cursor: pointer;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.button-heart:hover .core {
  fill: var(--color-heart-border);
  transition: fill 0.3s linear;
}

.button-heart:hover .main-body {
  fill: var(--color-heart-border);
  transition: fill 0.3s linear 0.05s;
}

.button-heart:active .main-body {
  fill: var(--color-heart);
  transition: fill 0.3s linear 0.05s;
}

.button-heart:active .core {
  fill: var(--color-heart);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--color-heart);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--color-heart);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--color-heart);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart {
  animation: heartScaleUp 0.3s ease-in 0.1s 1;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparkAppears 0.3s ease-in 0.3s 1;
}
