/* 
Я бы еще долго доделывал и что-то переделывал. 
Но пролежал в больнице очень долго и не осталось времени на проект.
Кидаю возможно сырую версию, но хочу получить фидбек чтобы уже понимать что переделывать и успеть сдать до срока.
Спасибо!!
*/
.page {
  font-family: var(--font-primary), sans-serif;
  font-weight: var(--font-weight-text);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-text);
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: var(--content-width);
  min-width: 375px;
  margin: 100px auto;
  border: 2px var(--color-primary) solid;
  padding-inline: var(--header-padding-inline);
  padding-block: var(--header-padding-block);
  font-family: var(--font-secondary), fantasy;
  text-transform: uppercase;
  background-color: var(--color-primary-bg);
}

.header__name {
  font-family: var(--font-secondary), fantasy;
  font-size: var(--header-title-font-size);
  line-height: 65px;
}

@media (width <=375px) {
  .header__name {
    line-height: 49px;
  }
}

.header__description {
  font-size: var(--header-subtitle-font-size);
  line-height: 23px;
}

@media (width <=375px) {
  .header__description {
    line-height: 14px;
  }
}

header a {
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: var(--content-width);
  min-width: 375px;
  margin: 0 auto;
}

.post {
  width: 100%;
  background-color: var(--color-secondary);
}

.post__image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 696px;
  border-right: 2px var(--color-primary) solid;
  border-left: 2px var(--color-primary) solid;
}

.post__image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

.filter-contrast {
  filter: contrast(1.3);
}

.filter-saturate {
  filter: saturate(1.5);
}

.filter-hue-rotate {
  filter: hue-rotate(15deg);
}

.filter-brightness {
  filter: brightness(0.9);
}

.filter-grayscale-p3 {
  filter: grayscale(0.3);
}

.filter-grayscale-contrast-sepia {
  filter: grayscale(0.5) contrast(0.85) sepia(0.2);
}

.filter-grayscale-p6 {
  filter: grayscale(0.6);
}

.filter-blur {
  filter: blur(1.5px);
}

.post__title {
  border: 2px var(--color-primary) solid;
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 10px;
  font-size: 1.125rem;
  line-height: 21.78px;
  background-color: var(--color-primary-bg);
  font-variation-settings: "wght" var(--font-weight-title);
}

.post__label {
  position: absolute;
  top: 25px;
  right: 20px;
  opacity: 0.5;
  font-family: var(--font-secondary), fantasy;
  font-size: 0.875rem;
  line-height: 14px;
  text-shadow: 1px 1px var(--color-primary-label);
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--color-primary-label)) {
  .post__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-primary-label);
  }
}

@media (width <= 375px) {
  .post__label {
    top: 23px;
    right: 14px;
  }
}

.text__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 2px var(--color-primary) solid;
  padding: 25px;
  background-color: var(--color-primary-bg);
}

.text__wrapper {
  font-size: 1.125rem;
  line-height: 21px;
  letter-spacing: 0;
}

.text__wrapper p:first-of-type {
  margin-bottom: 27px;
}

.like-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

/**/
.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px var(--color-primary) solid;
  overflow: hidden;
  color: var(--color-primary);
  background: none;
  background-color: var(--color-primary-bg);
  transition: color 0.5s ease-in-out;
  cursor: pointer;
}

.button:focus {
  box-shadow: none;
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-primary);
  outline: none;
}

/*делаем плавную наводку  черным цветом */
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

/*делаем плавную наводку  черным цветом */
.button:hover::before {
  transform: translateX(0);
}

.button:hover {
  color: var(--color-primary-bg);
}

.button-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border 0.3s ease;
  cursor: pointer;
}

.button-heart:focus {
  outline: none;
}

.button-heart:focus-visible {
  border: 2px solid var(--color-primary);
  outline: none;
}

.like-icon {
  transition: 0.5s ease-in-out;
}

.card__like-button {
  min-inline-size: 130px;
  min-block-size: 38px;
}

.button__text {
  color: var(--color-secondary);
  font-family: var(--font-secondary), fantasy;
  font-size: 0.875rem;
  line-height: 12.6px;
  mix-blend-mode: difference;
}

.save__section {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

@media (width <=375px) {
  .save__section {
    width: 375px;
  }
}

.save__section > .button {
  flex-direction: row;
  gap: 6px;
  min-inline-size: 335px;
  min-block-size: 55px;
}

@media (width <=375px) {
  .save__section > .button {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 8px;
    min-inline-size: 310px;
    min-block-size: 84px;
  }
}

.button_icon {
  width: 21px;
  height: 21px;
  fill: white;
  mix-blend-mode: difference;
}

@media (width <=375px) {
  .button_icon {
    width: 28px;
    height: 28px;
  }
}

.modal {
  display: none;
  flex-direction: column;
  align-items: center;
  min-width: 357px;
  border: 0;
  padding: 30px;
}

@media (width <=375px) {
  .modal {
    min-width: 341px;
  }
}

.modal[open] {
  display: flex;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

body:has(.modal[open]) {
  overflow: hidden;
}

.modal__content {
  display: flex;
  align-items: center;
  column-gap: 20px;
  width: 293px;
  padding-bottom: 30px;
}

@media (width <=375px) {
  .modal__content {
    width: 257px;
  }
}

.modal__text {
  font-family: var(--font-secondary), fantasy;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
}

.modal__icon {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
}

.modal > .button {
  width: 100%;
  max-width: 293px;
  min-height: 38px;
}

@media (width <=375px) {
  .modal > .button {
    align-self: center;
    width: 257px;
  }
}