/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */


:root {
  --mainColor: #000;
  --post-title-color: #000;
  --post-text-color: #000;
  --post-background-color: #fff;
  --background-main-color: #fff;

  
  --header-width-desktop: 700px; 
  --header-width-mobile: 100%;



  --font-main: "Inter", sans-serif; 
  --font-accent: "PressStart2P", sans-serif; 
  
  --font-weight-text: 400; /* Толщина основного текста */
  --font-weight-title: 700; /* Толщина заголовков */

}



